.phyphoxEditor {
    margin: 0;
    padding: 0;
    background: none;
    color: black;
    font-family: sans-serif;
}

.phyphoxEditorTabButton {
    display: inline-block;
    background: #e0e0e0;
    border-top: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    padding: 5px;
    margin-bottom: -1px;
    cursor: pointer;
}

.phyphoxEditorTabButton.active {
    border-bottom: 1px solid white;
    background: white;
    font-weight: bold;
}

.phyphoxEditorTabButton:first-child {
    border-left: 1px solid #a0a0a0;
}

#phyphoxEditorWorkArea {
    padding: 5px;
    border: 1px solid #a0a0a0;
    overflow: auto;
    text-align: center;
}

.phyphoxEditorInterfaceSection {
    text-align: left;
    display: inline-block;
    width: 45%;
    margin: 2%;
    vertical-align: top;
}

.phyphoxEditorInterfaceSectionSingle {
    text-align: left;
    display: inline-block;
    width: 90%;
    margin: 2% 5%;
}

@media screen and (max-width:800px) {
    .phyphoxEditorInterfaceSection {
        text-align: left;
        display: inline-block;
        width: 90%;
    }
}

.phyphoxEditorInterfaceSectionTitle {
    text-align: left;
    font-weight: bold;
    background: #e0e0e0;
    border: 3px solid #e0e0e0;
    padding: 2px;
}

.phyphoxEditorHighlight .phyphoxEditorInterfaceSectionTitle {
    color: white;
    background: #ff7e22;
    border: 3px solid #ff7e22;
}

.phyphoxEditorInterfaceSectionContent {
    border: 3px solid #e0e0e0;
    padding: 5px;
}

.phyphoxEditorHighlight .phyphoxEditorInterfaceSectionContent {
    border: 3px solid #ff7e22;
}

.phyphoxEditorModuleDialog {
    width: 90%;
    margin: 2% 5%;
}

.phyphoxEditorModuleDialogTitle {
    background: #e0e0e0;
    text-align: left;
    padding: 3px;
}

.phyphoxEditorModuleDialogContent {
    border: 3px solid #e0e0e0;
}

.phyphoxEditorInterfaceElement {
    position: relative;
    display: inline-block;
    margin: 2px;
}

.phyphoxEditorInterfaceSectionContent > .phyphoxEditorInterfaceElement {
    width: 100%;
}

.phyphoxEditorModuleDialogContent > .phyphoxEditorInterfaceElement {
    width: 100%;
}

.phyphoxEditorInterfaceElement > * {
    display: inline-block;
    max-width: 50%;
    text-align: left;
    vertical-align: middle;
    margin: 0;
}

.phyphoxEditorInterfaceElement > *:only-child {
    max-width: 100%;
}

.phyphoxEditorInterfaceElement > label {
    text-align: right;
    width: 48%;
    margin-right: 2%;
}
