[submodule "app/src/main/assets/experiments"]
	path = app/src/main/assets/experiments
	url = https://Kuhlen@github.com/Kuhlen/phyphox-experiments
[submodule "app/src/main/res/raw"]
	path = app/src/main/res/raw
	url = https://Kuhlen@github.com/Kuhlen/phyphox-webinterface
