* {
    margin: 0;
    padding: 0;
}

body, html {
    background: ###background-color###;
    color: ###main-color###;
    font-size: 3vw;
    font-family: sans-serif;
}

body {
    padding: 3vw;
}

ul {
    list-style-type: none;
}

#header {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

#logo {
    display: inline-block;
    width: 4.5vw;
    height: 4.5vw;
    margin-right: 0.5vw;
}

#buttons {
    display: inline-block;
    margin-left: 0.5vw;
    vertical-align: top;
}

#buttons div {
    display: inline-block;
    background-color: ###highlight-color###;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    color: ###main-color###;
    padding: 0.5vw;
    min-width: 3.5vw;
    height: 3.5vw;
    text-align: center;
    cursor: pointer;
    margin-left: 0.5vw;
    vertical-align: top;
    overflow: hidden;
}

#buttons div:hover {
    color: ###main-color###;
}

#buttons div:first-child {
    margin-left: 0;
}

#measuring {
    background-image: url(data:image/png;base64,###drawablePlay###);
}

.countdown #measuring {
    background-image: url(data:image/png;base64,###drawableTimedPlay###);
}

.active #measuring {
    background-image: url(data:image/png;base64,###drawablePause###);
}

.countdown.active #measuring {
    background-image: url(data:image/png;base64,###drawableTimedPause###);
}

#export:empty {
    background-image: url(data:image/png;base64,###drawableExport###);
}

#columns:empty {
    background-image: url(data:image/png;base64,###drawableColumns###);
}

#titleBar {
    display: inline-block;
    width: 73.0vw;
    padding: 0.5vw;
    height: 3.5vw;
    background: ###highlight-color###;
    color: ###main-color###;
    margin-bottom: 1vw;
    vertical-align: top;
}

#title, #viewSelector {
    height: 3.5vw;
    font-size: 3vw;
    display: block;
    background: ###highlight-color###;
    color: ###main-color###;
    border: none;
    align-items: baseline;
}

#title {
    font-weight: bold;
}

#viewSelector {
    float: right;
}

#viewSelector:hover {
    color: ###main-color###;
}

#viewSelector option {
    text-align: right;
}

#views {
    width: 100%;
}

.elementBlock {
    display: inline-block;
    width: 100%;
}

.columns2 .elementBlock {
    display: inline-block;
    width: 50%;
    font-size: 50%;
}

.columns3 .elementBlock {
    display: inline-block;
    width: 33%;
    font-size: 33%;
}

.valueElement, .editElement {
    display: block;
    width: 100%;
}

.label {
    display: inline-block;
    text-align: right;
    width: 49%;
    padding: 0.5%;
}

.value {
    display: inline-block;
    font-weight: bold;
    width: 49%;
    padding: 0.5%;
}

.unit {
    font-weight: bold;
    padding: 0 0.5%;
}

.editElement .value {
    font-size: 100%;
    width: 15%;
    padding: 0 0.5%;
}

.graphElement {
    display: block;
    width: 100%;
    margin: 0 1%;
}

.graphElement .label {
    display: block;
    font-weight: bold;
    padding: 0.5%;
}

.graphElement .graphBox {
    position: relative;
    width: 100%;
}

.graphElement .graphRatio {
    display: block;
}

.graphElement .graph {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tickLabel, .axisLabels {
    color: ###main-color###;
}

.axisLabels {
    font-size: smaller;
}

#exportDialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    text-align: center;
}

#exportDialog form {
    box-shadow: 0 0 3vh;
    border: 2px solid black;
    display: inline-block;
    background: white;
    color: black;
    font-size: initial;
    text-align: left;
    padding: 1%;
}

#exportDialog form .setSelector {
    display: block;
}

#exportDialog form select {
    display: block;
    margin: 3px 0;
}

#exportDialog form input {
    display: inline-block;
}