<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.rwth_aachen.phyphox" >
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.rwth_aachen.phyphox.ExperimentList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/experimentList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.rwth_aachen.phyphox.Experiment"
            android:label="@string/title_activity_experiment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dicon.phyphox.exportProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export_provider" />

        </provider>
    </application>

</manifest>
