<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.rwth_aachen.phyphox" android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application android:name="de.rwth_aachen.phyphox.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/phyphox"
        android:usesCleartextTraffic="true"><!-- While not recommended, there are plenty of use cases for phyphox on local networks where unencrypted communication is not unreasonable. -->
        <activity
            android:name="de.rwth_aachen.phyphox.ExperimentList"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.phyphox" />
                <data android:pathPattern=".*\\..*\\.phyphox" />
                <data android:pathPattern=".*\\..*\\..*\\.phyphox" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.phyphox" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.phyphox" />
                <data android:pathPattern=".*\\.zip" />
                <data android:pathPattern=".*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.zip" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.zip" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="phyphox" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/phyphox" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="text/html" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.rwth_aachen.phyphox.Experiment"
            android:label="@string/title_activity_experiment"
            android:theme="@style/phyphox"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="de.rwth_aachen.phyphox.ExperimentList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.rwth_aachen.phyphox.ExperimentList" />
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="unspecified"
            tools:replace="screenOrientation" />
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.rwth_aachen.phyphox.exportProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export_provider" />

        </provider>
        <service android:name="org.eclipse.paho.android.service.MqttService">
        </service>
    </application>
    <queries>
        <!-- Opening web links -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!-- Youtube videos may be opened in the Youtube app -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data  android:scheme="https" android:host="youtube.com" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="youtu.be" />
        </intent>

        <!-- Share states and screenshots -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="application/octet-stream" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/png" />
        </intent>

        <!-- Export function queries for view and send actions -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="application/vnd.ms-excel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.ms-excel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/csv" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="text/csv" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="application/zip" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/zip" />
        </intent>
    </queries>
</manifest>
